* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game_container {
  max-width: fit-content;
  margin: 20px auto 0 auto;
  position: relative;
}

#game_over_wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: fit-content;
}

.game-over {
  padding: 20px 15px;
  height: 150px;
  width: 300px;
  text-align: center;
  background: rgba(169, 255, 58, 0.3);
  border-radius: 8px;
}

#score {
  color: rgb(246, 255, 0);
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.btn {
  padding: 5px;
}

.btn-depressed {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn-medium {
  font-size: 20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.clickable {
  cursor: pointer;
}

.white--text {
  color: white;
}

.brick {
  background: rgb(239, 100, 100) !important;
}

#score {
  font-size: 24px;
  font-weight: bold;
}
